@model IEnumerable<VibrantVoluntaire3.Models.EventM>

@{
    ViewBag.Title = "EventTab";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EventTab</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.event_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.event_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.attendance_limit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additional_info)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.usernameId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.event_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.event_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.attendance_limit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rating)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.additional_info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.usernameId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.eventId }) |
            @Html.ActionLink("Details", "Details", new { id=item.eventId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.eventId })
        </td>
    </tr>
}

</table>
